.filterwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 120rem;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid #f2f2f2;
}

.inputBox {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
}

.inputBox input {
    width: 650rem;
    height: 70rem;
    border: none;
    border-radius: 14px ;
    background-color: #f2f2f2;
    padding-left: 60rem;
    outline: none;
}

.searchicon {
    position: absolute;
    font-size: 20px;
    left: 15rem;
    color: #aaa;
}