.cart {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 30rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 700rem;
    height: 80rem;
    line-height: 80rem;
    background-color: #333;
    border-radius: 20px;
    z-index: 999;
}

.descWrapper {
    display: flex;
}

.total {
    padding-left: 40rem;
    font-size: 30rem;
    color: #fff;
}

.price, .nomeal{
    margin-left: 10rem;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 36rem;
}

.price::before {
    content: '￥';
    font-size: 24rem;
}

.button {
    border: none;
    background-color: #fcbf49;
    width: 200rem;
    border-radius: 20px;
    font-size: 36rem;
}